.element__like {
  margin: 0;
  background-image: url(../../../images/like-disabled.svg);
  width: 22px;
  height: 19px;
  border: none;
  outline: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.element__like:hover {
  background-image: url(../../../images/like-hover.svg);
  cursor: pointer;
}

.element__like:active {
  background-image: url(../../../images/like-active.svg);
}