.profile__title {
  margin: 0;
  max-width: 485px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
}

@media (max-width: 600px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin-top: 26px;
    margin-left: 9px;
  }
}