.profile__add-button {
  border: 2px solid #FFFFFF;
  width: 146px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media (max-width: 900px) {
  .profile__add-button {
    width: 282px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }
}