.footer__copyright {
  margin-top: 67px;
  margin-bottom: 60px;
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 900px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}