.popup__close {
  background-image: url(../../../images/close-icon.svg);
  background-size: cover;
  width: 56px;
  height: 56px;
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  background-color: transparent;
  position: absolute;
  right: -48px;
  top: -48px;
}

.popup__close:hover {
  opacity: .6;
  cursor: pointer;
}

@media (max-width: 600px) {
  .popup__close {
    right: 0;
    top: -51px;
    width: 37px;
    height: 37px;
  }
}